# Node
node_modules
yarn.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NYC
.nyc_output
coverage

# Project specific
dist
test/configOverrides.test.ts

# Outputs
.tgz
release/
corpus
crash-*
