{
  "cache": false,
  "check-coverage": false,
  "extension": [".ts"],
  "include": ["**/*.ts"],
  "exclude": ["__tests__/**", "coverage/**", "dist/**", "node_modules/**", "**/*.d.ts"],
  "sourceMap": true,
  "reporter": ["html", "text", "text-summary"],
  "all": true,
  "instrument": true
}
